
body {
  text-align: center;
  /* margin-top: 15vw; */
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  margin: 0;
}

.header {
  background-color: #fff;
  color: black;
  padding-top: 1.5%;
  border-bottom: rgb(251, 0, 0) 2px solid;
  box-shadow: 4px 9px 26px 3px rgba(0, 0, 0, 0.75);
  letter-spacing: 2px;
}

.nav-title {
  margin: 0
}

input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: 4px 9px 26px 3px rgba(0, 0, 0, 0.75);
  height: 35px;
  width: 250px;
  font-size: 1.5rem;
  outline: none;
}

input:focus {
  border: 1px solid red;

}
.inputs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.input-content {
  border: 1px solid red;
  border-radius: 2px;
  width: fit-content;
  padding: 2rem;
  background-color: gray;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.30);

}

.button-container {
  height: 100%;
  margin: 10px;
}

button {
  height: 90%;
  margin-top: 6%;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: none;

}

/* .inputs-wrapper {
	border: 1px solid wheat;
	width: 400px;
	text-align: center;
} */
